/* navbar css */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 90px;
  padding: 30px 25px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

nav.dark {
  background-color: #21222A;
}

.nav-title{
  margin: 0;
}

p{
  margin: 0;
}

.rlogo {
  height: 30px;
  width: 30px;
  margin-right: 7px;
}

.nav-title {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 22px;
}
.toggler{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  color:rgb(18, 17, 17);
  font-weight: 600;
}
.slider {
  width: 25px;
  height: 13px;
  background-color: #2B283A;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}

nav.dark .slider {
  border-color: white;
  background-color: #F5F5F5;

}

.circle {
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
}
nav.dark .circle {
  background-color: black;
}
.toggler-light {
  color: #2B283A;
}
nav.dark .toggler-light {
  color: #918E9B;
}
.toggler-dark {
  color: #D5D4D8;
}

nav.dark .toggler-dark {
  color: #FFFFFF;
}

nav.dark .slider {
  justify-content: flex-end;
}


/* main css */

main {
  padding: 57px 27px;
  color: rgb(26, 25, 25);
  background-image: url(/react-icon-large.png);
  background-repeat: no-repeat;
  background-position: right 75%;
  flex: 1 1 auto;
  background-color:white;
}

main.dark {
  background-image: url(/react-icon-large.png);
  background-color: #282D35;
  color: rgb(231, 224, 224);
  height: 38rem;
}


.main-h1 {
  margin-left: 1.25rem;
  font-size: 39px;
  letter-spacing: -0.05em;
}

.main-ul {
  margin-top: 46px;
  max-width: 400px;
}

.main-ul>li {
  line-height: 19px;
  padding-block: 10px;
}

.main-ul>li::marker {
  font-size: 1.4rem;
  color: #61DAFB;
}

/* li::marker {
  font-size: 1.4rem;
  color: #61DAFB;
} */